/* 
Check By:
https://www.responsivedesignchecker.com
*/

/* 1440px * 900px (19" Desktop) */
@media only screen and (max-width:1440px) {
    .cards-container .card {
        max-width: 390px;
        height: 200px;
    }
    
    .cards-container .card .imgBox {
        position: relative;
        width: 360px;
        height: 360px;
    }

    .to-do-read-more {
        transform: translateX(5px);
    }
}

/* 1366px * 768px (25" Notebook) */
@media only screen and (max-width:1366px) {
    .cards-container .card {
        max-width: 360px;
    }
    
    .cards-container .card .imgBox {
        width: 330px;
        height: 330px;
    }

    .to-do-read-more {
        transform: translateX(-5px);
    }

    footer {
        height: 22vh;
    }
}

/* 1024px * 800px/600px (13" & 10" Notebook) */
@media only screen and (max-width:1024px) {
    /* Home Page */
    .big-title {
        top: 45%;
        left: 25%;
        font-size: 7.5rem;
    }
    
    
    .line {
        top: 30.5%;
        left:25%;
    }

    /* Famous Places Page */
    .section1 .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .sectionTwo-title {
        display: none;
    }

    .section1 img {
        width: 40%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    /* TO-DO Page */
    .cards-container .card {
        height: 150px;
        max-width: 260px;
    }
    
    .cards-container .card .imgBox {
        width: 230px;
        height: 230px;
    }

    .to-do-read-more {
        transform: translateX(-40px);
    }

    .cards-container .card:hover {
        height: 600px;
    }

    /* Footer */

    .address1, .address2, .address-line1, .address-line2 {
        display: none;
    }

    footer {
        position: relative;
        width: 100%;
        height: 30vh;
    }

    .footer-title > h1 {
        font-size: 2rem;
        margin-top: 25px;
        margin-left: 30px;
    }

    .footer-title > h4 {
        font-size: 1.5rem;
        letter-spacing: 3.8px;

        margin-left: 35px;
    }

    .footer-content {
        display: block;
        position: absolute;
        text-align: center;
        align-items: center;
        max-width: 80%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .fotter-logos > a > img {
        margin-top: 20px;
        width: 40px;
    }
}

/* 800px * 1280px Samsung Galaxy Tab 10 */
@media only screen and (max-width:800px) {
    /* For tablets: */
    /* PageOne */

    .hamburger-menu {
        display: block;
    }

    nav .container ul {
        display: none;
    }

    nav .container ul.show {
        display: block;
    }

    .big-title {
        left: 10%;
        font-size: 7.5rem;
    }
    
    
    .line {
        top: 35.5%;
        left: 10%;
    }

    .person {
        left: -30rem;
    }

    .temple {
        left: -30rem;
    }
    
    .tree {
        left: -30rem;
    }

    /* PageTwo */

    .section1 img {
        width: 80%;
    }

    /* TO-DO Page */
    .cards-container .card {
        height: 200px;
        max-width: 560px;
        margin: 200px 30px;
    }

    .cards-container .card:hover {
        height: 750px;
    }
    
    .cards-container .card .imgBox {
        width: 530px;
        height: 530px;
    }

    .cards-container .card .imgBox  img {
        width: 100%;
        z-index: 2;
    
    }

    .to-do-read-more {
        transform: translateX(35px);
    }

    /* Footer */

    .footer-title > h1 {
        margin-top: 75px;
    }

    .address1, .address2, .address-line1, .address-line2 {
        display: none;
    }

    footer {
        position: relative;
        width: 100%;
        height: 22.5vh;
    }

    .footer-content {
        display: block;
        position: absolute;
        text-align: center;
        align-items: center;
        max-width: 80%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .fotter-logos > a > img {
        margin-top: 20px;
        width: 40px;
    }

    #copy-right-section {
        bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .show {
        text-align: center;
        position: absolute;
        top: 4rem;
        right: -30rem;
        /* left: 0; */
        transform: translateX(-50%);
        line-height: 5rem;
        background-color: #333;
        padding: 50px 350px;
    }
  }

/* 768px * 1024px Amazon Kindle Fire HD  */
@media only screen and (max-width:768px) {
    /* Page One */
    .cards-container .card {
        max-width: 520px;
    }

    .cards-container .card .imgBox {
        width: 490px;
        height: 490px;
    }

    .footer-title > h1 {
        margin-top: 45px;
    }

    .to-do-read-more {
        transform: translateX(70px);
    }
}

/* 600px * 960px Nexus 7 */
@media only screen and (max-width:600px) {
    /* Page One */
    .big-title {
        font-size: 5.5rem;
    }
    
    .line {
        top: 37%;
        font-size: 3rem;
    }

    /* Nav hamburger */
    .show {
        padding: 50px 300px;
    }

    .cards-container .card {
        max-width: 430px;
    }
    
    .cards-container .card .imgBox {
        width: 400px;
        height: 400px;
    }

    .cards-container .card:hover {
        height: 650px;
    }

    .to-do-read-more {
        transform: translateX(70px);
    }
}

/* Mobile Respondsive */
/* 414px * 736px (Apple iPhone 6s Plus / 7 Plus)*/
@media only screen and (max-width:414px) {
    /* For mobile phones: */
    .show {
        line-height: 3rem;
        padding: 50px 250px;
    }

    #PageOne, #map, footer {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    /* Home Page */
    #PageOne {
        height: 102vh;
    }

    .big-title {
        font-size: 4rem;
    }
    
    .line {
        top: 40%;
        font-size: 2rem;
    }

    /* Page Two */
    .section1 .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .text {
        display: none;
    }

    .section1 img {
        width: 150%;
        transform: translateX(-48%);
        margin-top: 50px;
    }

    .container > .read-more {
        margin-top: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .container > .section-title {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    /* Page Three */
    .cards-container .card {
        margin: 20px 30px;
        padding: 20px 15px;
        height: 400px;
        max-width: 260px;
        border-radius: 0px 0px 0px 0px;
        transform: translateY(0);
    }
    
    .cards-container .card .imgBox {
        width: 230px;
        height: 230px;
    }

    .to-do-read-more {
        transform: translateX(-40px);
    }

    .cards-container .card:hover {
        height: 400px;
    }

    .card-text {
        display: none;
    }

    .cards-container .card .content {
        visibility: visible;
        opacity: 1;
        margin-top: 0px;
    }

    .cards-container .card:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: 0px;
    }

    /* Changing font for History and Culture */
    .hac {
        font-size: 1.2rem;
    }

    /* Footer */
    .footer-title > h1 {
        margin-top: 20px;
        font-size: 2rem;
    }

    .footer-title > h4 {
        font-size: 1rem;
    }

    footer {
        position: relative;
        width: 100%;
        height: 22.5vh;
    }

    .fotter-logos > a > img {
        margin-top: 20px;
        width: 25px;
    }
}

/* 411px * 731px (Google Pixel, Nexus 5, Nexus 6) */
@media only screen and (max-width:411px) {
    footer {
        width: 100%;
    }

    .show {
        line-height: 3rem;
        padding: 50px 265px;
    }

    .fotter-logos > a > img {
        margin-top: 20px;
        width: 25px;
    }
}

/* 384px * 640px (Nexus 4) */
@media only screen and (max-width:384px) {
    .line {
        top: 39%;
        left: 5%;
    }

    .big-title {
        left: 5%;
    }

    .show {
        padding: 50px 250px;
    }

    .fotter-logos > a > img {
        margin-top: 10px;
        width: 25px;
    }
}

/* 360px * 640px (Samsung Galaxy S5/S6/S7, Sony Xperia Z2/Z3 ) */
@media only screen and (max-width:360px) {
    .line, .big-title {
        left: 2.5%;
    }

    .show {
        padding: 50px 245px;
    }
}

/* 320px * 480px/568px (Apple iPhone 3/4/4s, Apple iPhone 5/5s ) */
@media only screen and (max-width:320px) {
    .big-title {
        font-size: 3.5rem;
    }

    .show {
        padding: 50px 230px;
    }

    .footer-content {
        transform: translateX(-50%);
    }

    .footer-title > h1 {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .footer-title > h4 {
        font-size: 0.5rem;
    }

    .fotter-logos > a > img {
        margin-top: 10px;
        width: 14px;
    }

    #PageOne, #map, footer {
        width: 100%;
    }
}