@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* The website look good on a 1920 * 1080 with 100% scale */

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#PageOne, #PageTwo, #PageThree, #PageFour {
    scroll-snap-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

.container {
    max-width: 110rem;
    padding: 0 2rem;
    margin: 0 auto;
}

#PageOne {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

head:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 17;
}

.sky {
    position: absolute;
    bottom: 0;
    width: 3500px;
    /* right: 0; */
    z-index: 17;
}


.temple {
    position: absolute;
    bottom: 0;
    width: 2150px;
    z-index: 18;
}

.tree {
    position: absolute;
    bottom: -15rem;
    width: 2150px;
    /* right: 0; */
    z-index: 20;
}

.person {
    position: absolute;
    bottom: 0;
    width: 2150px;
    /* right: 0; */
    z-index: 21;
    bottom: -4.5rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 22;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.05), transparent);
    transition: background 0.5s;
}


nav .container, nav .right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav .aboutUs > a{
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    margin-top: 20px;
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
}

.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after {
    content: ' ';
    position: absolute;
    right: 0;
    width: 1.55rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before {
    transform: translateY(-8px);
}

.bar:after {
    transform: translateY(8px);
}

/* Slider Tab Active for Navigation Menu*/
ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    padding: 20px;
    text-align: center;
    color: rgb(173, 173, 173);
    transition: 0.5s;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

}

ul li.active a {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.big-title {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 19;
    line-height: 4rem;
    font-size: 8rem;
}


.line {
    position: absolute;
    top: 38%;
    left: 40%;
    z-index: 19;
    font-size: 4rem;
}

.section1 {
    position: relative;
    width: 100%;
    position: relative;
}

.section1 .container > * {
    margin: 3rem;
}

.section1 .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} 

.section1 img {
    width: 80%;
}

.content {
    margin-left: 20px;
    /* transform: translateY(-50px); */
}

.section-title {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #333;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 150px;
    width: 100%;
    left: 0;
    z-index: 21;
    background: linear-gradient(to top, #fff, transparent);
    /* Want shadow or not */
    display: none;
}

.opacity {
    opacity: 1;
}

.containerTwo {
    width: 100%;
    margin: 20px auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    
}

.slider {
    display: flex;
    height: 100%;
    width: 300%;
    flex-shrink: 0;
    transition: all 0.5s;
}

.slider .section1 {
    flex-basis: 25%;
    width: 33.33%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwo-title {
    position: absolute;
    top: 100px;
    left: 40%;
    font-size: 3rem;
}


/* Need to fix the code redundentcy */
.prev {
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;

}

.prev > img {
    width: 50px;
}

.next {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
}

.next > img {
    width: 50px;
}


/* Adding Hover State */
.read-more {
    position: relative;
    background-color: #fb8500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    cursor: pointer;
    z-index: 1;

}

.read-more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #004a9e;

    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.read-more::before:hover {
    transform: scaleX(1);
}
/* .read-more:focus::before {
    transform: scaleX(1);
} */

/* To-Do Section */
.section2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cards-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.cards-container .card {
    z-index: 0;
    position: relative;
    max-width: 430px;
    height: 200px;
    border-radius: 0px 0px 90px 90px;
    background: #fff;
    margin: 0px 30px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    transform: translateY(-100px);
}

.cards-container .card:hover {
    height: 650px;
    border-radius: 0px 0px 0px 0px;
    transform: translateY(0);
}

.cards-container .card .imgBox  img {
    max-width: 100%;
    /* border-radius: 5px; */
    z-index: 2;

}

.cards-container .card .imgBox {
    position: relative;
    width: 400px;
    height: 400px;
    /* top: -50px; */
}

.cards-container .card .content {
    position: relative;
    z-index: 1;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: left;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.cards-container .card .content .card-title {
    transform: translateX(-10px);
}

.cards-container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    /* transition-delay: 0.3s; */
}

.to-do-read-more {
    background-color: #0074f9;
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    cursor: pointer;
    transform: translateX(20px);
}
/* Map Page */
#map {
    height: 100vh;
    width: 100%;
  }

.pop-title {
    padding: 10px 75px;
    text-align: center;
}

.Visit {
    background-color: #0074f9;
    border: none;
    color: white;
    padding: 10px 60px;
    margin: 0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    cursor: pointer;
    transform: translateX(20px);
}

.visit-Khaka {
    padding: 10px 90px;
}

.visit-Inle {
    padding: 10px 70px;
}




footer {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #333;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    top: 50%;
    transform: translateY(70%);
}

.address-line1, .address-line2 {
    position: absolute;
    background-color: #fff;
    width: 3px;
    height: 100px;
    left: -1rem;
}

.address1, .address2 {
    transform: translateY(-25%);
}

.footer-title > h1 {
    font-weight: 600;
}

.footer-title > h1 > a {
    text-decoration: none;
    color: #fff;
}

.footer-title > h4 {
    font-size: 1.2rem;
    letter-spacing: 6.5px;
}

.footer-title {
    transform: translateY(-10%);
}

.fotter-logos > a > img {
    margin-left: 30px;
}

#copy-right-section {
    position: absolute;
    color: #fff;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}




